langchain==0.3.20
langchain-core>=0.3.41,<0.4.0
langchain-groq>=0.2.0,<0.3.0
langchain-tavily==0.1.5
langgraph>=0.2.60,<0.3.0
python-dotenv==1.0.1 
llama-index>=0.12.0,<0.13.0
llama-index-llms-openai>=0.3.0,<0.4.0
llama-index-embeddings-openai>=0.3.0,<0.4.0